/* Start coding here */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: linear-gradient(to right, pink, purple);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: hsla(360, 100%, 100%, 0.5);
  border-radius: 5px;
  padding: 50px;
  margin: 100px;
  width: 500px;
}

.blog-header {
  text-align: center;
}

.blog-article {
  text-align: center;
}
